.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  background-color: mediumvioletred;
  animation-name: middle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}
@keyframes top {
  from {transform: rotate(0deg);}
  25% {transform: rotate(0deg); position: relative; top: 0px; left: 0px}
  50% {transform: rotate(0deg); position: relative; top: 0px; left: 0px}
  75% {transform: rotate(0deg); position: relative; top: 0px; left: 0px}
  to {transform: rotate(45deg); position: relative; top: 32px; left: 0px}
}
@keyframes bottom {
  from {transform: rotate(0deg);}
  25% {transform: rotate(0deg); position: relative; top: 0px; left: 0px}
  50% {transform: rotate(0deg); position: relative; top: 0px; left: 0px}
  75% {transform: rotate(0deg); position: relative; top: 0px; left: 0px}
  to {transform: rotate(-45deg); position: relative; top: -36px; left: 0px}